/* The sidebar menu */
/*.sidenav {*/
/*    height: 100%; !* Full-height: remove this if you want "auto" height *!*/
/*    width: 160px; !* Set the width of the sidebar *!*/
/*    position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
/*    z-index: 1; !* Stay on top *!*/
/*    top: 0; !* Stay at the top *!*/
/*    left: 0;*/
/*    background-color: #111; !* Black *!*/
/*    overflow-x: hidden; !* Disable horizontal scroll *!*/
/*    padding-top: 20px;*/
/*}*/

body {
    /*overflow: hidden;*/
}

.content {
    max-width: 900px;
    margin: auto;
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px 20px;
}

.works {
  /*width: 75%;*/
  /*max-width: 650px;*/
    padding: 0;
  /*float: right;*/
  /*padding-left: 130px;*/
}

#intro{
    margin-bottom: 10px;
}

img {
    padding-top: 70px;
    padding-bottom: 10px;
}

#content {
    /*padding-top: 5%;*/
    /* text-align: center; */
}

.sidenav {
    /* padding-top:3%; */
    /*padding-left: 100px;*/
    /* float: left; */
        /*position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
        /* font-size: 12; */

        position: fixed;

}

/* The navigation menu links */
.sidenav a {
    padding: 15px 16px 6px 16px;
    display: block;
    text-align: left;
}

/* .sidenav {
    padding-top: 4%;
    /*padding-left: 100px;*/
    /* float: left; */
    /*position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
    /* font-size: 12; */

/* } */

/* The navigation menu links */
/* .sidenav a {
    padding: 15px 16px 6px 16px;
    display: block;
    text-align: left;
}
.sidenav p {
    padding: 0px 8px 0px 16px;
    margin-top: 0;
    display: block;
} */


#name {
    /* padding-top: 40px; */
}

#description {
    padding-bottom: 20px;
}

.works {
    /* overflow: hidden; */
    /* padding-top: 4%; */
    /*padding-left: 70px;*/
    /* font-size: 12; */
    margin: 0;
    padding-left: 150px;

}

.works p {
    padding-bottom: 5px;

}

#footer {
    position: fixed;
    height: 65px;
    bottom: 0px;
    /* right: 0px; */
    margin-bottom: 0px;
}

#footer a {
    /* padding: 15px 16px 6px 16px; */
    display: block;
    text-align: left;
    float: bottom;
}

#hamburgerBtn {
    position: fixed;
    top: 30px;
    padding-left: 7px;
    /*left: 30px;*/
    display: none;
    z-index: 10;
    font-size: 18px;
}

#hamburgerBtn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .works {
        /*display: none;*/
        padding-left: 60px;
    }

    #navBar {
        /*display: none !important;*/
        width: 100vw;
        height: 100vh;
        top: 0;
        transform: translateX(-1000px);
    }

    #navBar.open {
        transform: translateX(0);
        overflow: hidden;
    }

    .nav-items {
        padding-top: 80px;
    }

    .nav-items > li {
        text-align: center;
        padding-right: 60px;
    }

    .footer {
        padding-bottom:80px;
    }

    .footer > li {
        text-align: center;
        padding-right: 60px;
    }

    #hamburgerBtn {
        display: inline-block;
    }

    /*#footer {*/
    /*    display: none !important;*/
    /*}*/

    /*.works {*/
    /*    padding-right: 10%;*/
    /*}*/
}

#navBar {
    /*width: 250px;*/
    background: white;
    height: 100vh;
    padding-right: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-items {
    text-align: right;
    padding-inline-start: 0;
}

.nav-items li {
    list-style-type: none;
    margin-bottom: 20px;
}

.footer {
    text-align: right;
    padding-inline-start: 0;
        height: 100px;
}

.footer li {
    list-style-type: none;
    margin-bottom: 20px;
}

/*.footer {*/
/*    position: fixed;*/
/*    height: 65px;*/
/*    bottom: 0px;*/
/*    margin-bottom: 0px;*/
/*}*/

/*.footer a {*/
/*    text-align: left;*/
/*}*/
